<!DOCTYPE html>
<html lang="sq">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Rreth Spitalit</h1>
    <p>Ky eshte nje spital modern me sherbime te ndryshme dhe te specializuara</p>
    <a href="/">Kreu</a>
</body>
</html>
