<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div style="text-align: center; margin-top: 20px;">
        <img src="https://img.freepik.com/premium-photo/flat-design-modern-hospital-building-with-clean-ai-generated_1032935-3234.jpg" alt="Spitali" 
            style="width: 80%; height: 500px; object-fit: cover; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
    </div>
    <!-- <img src="https://img.freepik.com/premium-photo/flat-design-modern-hospital-building-with-clean-ai-generated_1032935-3234.jpg" alt="Spitali" style="width:100%; max-height: 400px; object-fit: cover;"> -->
    <h1>Miresevini ne Spitalin Tone</h1>
    <a href="/about">Rreth Nesh</a> | 
    <a href="/signup">Regjistrohu</a> | 
    <a href="/login">Kyçu</a>
</body>
</html>
<!-- stack overflow -->
