<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Miresevini ne Spitalin Tone</h1>
    <a href="/about">Rreth Nesh</a> | 
    <a href="/signup">Regjistrohu</a> | 
    <a href="/login">Kyçu</a>
</body>
</html>
