<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <% = emri %></h1>
    <h3>Passwordi jot eshte: <%= pw %</h3>
    <p>Your data hes been recieved. Thank u for logging </p>
</body>
</html>